pydantic_settings
sqlalchemy
psycopg
fastapi
passlib[argon2-cffi]
python-jose
uuid7
logger
aiosmtplib>=5.1.0
redis>=7.2.1
uvicorn[standard]
python-json-logger
pydantic[email]
argon2-cffi>=23.1.0

pymupdf4llm 
pandas 
openpyxl 
aiofiles 
python-multipart
langgraph 
langchain-groq
httpx>=0.27.2
apscheduler

langchain
langchain-core
langchain-community
langchain-google-genai
redis
rq